.cookie_text{
    width: calc(100% - 27px);
    float: left;
}
._text{
    position: relative;
}
.cookie_close{
    float:right;
    color:white;
    margin-left:10px;
    vertical-align:middle;
    cursor: pointer;
}

.cookie{
    width:100%;
    background-color:#076a8a;
    color:white;
    padding: 15px;
    display: flex;
    position: fixed;
    z-index: 9999999999999999;
}