<div class="cookie" *ngIf="!hideCookie">
    <div  class="cookie_text _text">
        <span>Genom att besöka vår webbsida och använda våra tjänster visar du att du är införstådd med och accepterar hur vi hanterar din personliga data i enlighet med vår Privacy & Cookie policy. Vi respekterar din integritet och dina rättigheter att styra över din personliga data. Våra principer är enkla. Vi ska vara öppna med vilken data vi samlar in och varför. Ta ett kort ögonblick och läs igenom vår <a href="/policy" style="color:white;text-decoration:underline;">Policy.</a> Det är viktigt.</span>
    </div>
    <div style="float:left;" class="test">
        <span class="cookie_close" (click)="close_cookie()">X</span>
    </div>
</div>
<div class="preloader">
  <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
<!--Mainmenu-area-->
<div class="mainmenu-area" data-spy="affix" data-offset-top="100">
  <div class="container">
      <!--Logo-->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand logo">
              <img src="assets/images/logo.png">
          </a>
      </div>
      <!--Logo/-->
      <nav class="collapse navbar-collapse" id="primary-menu">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#feature-page">Services</a></li>
              <li><a href="#accomplish-page">Projects</a></li>
              <li><a href="#price-page">Find Consultant</a></li>
              <li><a href="/become-consultant">Become Consultant</a></li>
              <li><a href="#contact-page">Contact Us</a></li>
              <li><a href="/login">Login</a></li>
          </ul>
      </nav>
  </div>
</div>
<!--Mainmenu-area/-->