.horizontalline{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    height: 1px;
    background-color:#666;
    opcaity: 0.5;
}
#loginheader{
    color: white;
    font-size: 50px;
}
header{
    background: #076a8a;
}
.button{
    margin: 20px 0;
}
@media screen and (max-height: 780px){
    #loginheader{
        padding-top: 100px;
    }
    .full-height{
        height: calc(100vh + 100px);
    }
}
@media screen and (max-height: 630px){
    #loginheader{
        padding-top: 150px;
    }
    .full-height{
        height: calc(100vh + 200px);
    }
}
@media screen and (max-height: 550px){
    #loginheader{
        padding-top: 100px;
    }
    .full-height{
        height: calc(100vh + 300px);
    }
}