<header class="overlay full-height relative v-center" id="consultant-page">
    <div class="container">
        <div class="row" style="position: relative;">
          
          <div class="consultant">
            <h4>Join our Team to build your future</h4>
            <h1 class="career">
              <a href="become-consultant#contact-page">Work with Us</a></h1>
          </div>
        </div>
      </div>
</header>

<!--section class="section-padding" style="margin-top: 50px;">
  <div class="container">
    <div class="row" style="position: relative;">
      <img src="assets/images/consultant.jpg" style="width: 100%;"/>
      <div class="consultant">
        <h4>Join our Team to build your future</h4>
        <h1 class="career">
          <a href="become-consultant#contact-page">Work with Us</a></h1>
      </div>
    </div>
  </div>
</section-->

<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <img src="assets/images/dahl.png">
      </div>
      <div class="col-md-6 col-xs-12">
        <p>Explore swedish work culture</p>
        <h1 style="margin-bottom: 30px;color:black;"><strong>Seppo Kuula on Enfo’s strategy and business transformation</strong></h1>
        <span>Since the beginning of 2018, we have been executing our strategy. The strategy is based on enabling data-driven business transformation in the Nordics. While our approach is founded on supporting the business transformation of our customers, this strategy is at the same time transforming our own business. It’s no coincidence we all are going through business transformation, and we will sit on the driver’s seat.</span>
        <button type="sibmit" class="button read_more">Read More</button>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Join our team</p>
        <h1 style="color:black;"><strong>Open positions</strong></h1>
      </div>
      <div class="col-xs-12">
        <table class="position_table">
          <thead>
              <tr>
                <th></th>
                <th>JOB TITLE</th>
                <th>COUNTRY</th>
                <th>LOCATION</th>
                <th>POST DATE</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>Fullstack Developer Internship</td>
              <td>Sweden</td>
              <td>Stockholm</td>
              <td>05.11.2019</td>
              <td>View job</td>
            </tr>
            <tr>
              <td></td>
              <td>Bsiness Intelligence Internship</td>
              <td>Sweden</td>
              <td>Stockholm</td>
              <td>05.11.2019</td>
              <td>View job</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section  class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-6">
        <p style="font-weight: bold;color:black;">Join our team</p>
        <h1 style="color:black;"><strong>Open positions</strong></h1>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-6">
        <span>
            We are hiring regularly in Finland and Sweden. If there are no open vacancies matching your profile or career aspirations, you are welcome to leave your open application or contact one of our local recruiters to book a telephone chat.
        </span>
        <button type="sibmit" class="button read_more">Open application</button>
      </div>
    </div>
  </div>
</section>

<section  class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p style="font-weight: bold;color: black;">Career opportunities</p>
        <h1 style="color: black;">How can we help you</h1>
      </div>
      <div class="col-xs-12">
        <table class="opportunities">
          <tbody>
            <tr>
              <td><img src="https://www.enfogroup.com/sites/default/files/styles/square_150x150/public/2019-05/Matilda_Krantz.jpg?h=20cf8b97&itok=AOkERIQa" /></td>
              <td>
                CONTACT<br>Matilda Krantz
              </td>
              <td>
                AREA<br>ITAgenturen
              </td>
              <td>
                EMAIL<br><a href="mailto:aaa@ITAgenturen.com">aaa@ITAgenturen.com</a>
              </td>
              <td>
                PHONE<br>+46 111 111 111
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section  class="section-padding">
  <div class="container">
    <div class="row line-gradient">
      <div class="col-xs-12 col-md-7">
        <div class="career_desc">First time I heard about Enfo’s attitude towards work-life balance was during my hiring process. To be honest, I took it with a pinch of salt. It felt like something you sometimes say in an interview. But I soon realized I was mistaken.</div>
      </div>
      <div class="col-md-5">
        <img src="https://www.enfogroup.com/sites/default/files/styles/portrait_360_457/public/2019-05/2019-04-29-Enfo-web-034.jpg?h=50d9ab18&itok=bguvU-1W" />
      </div>
    </div>
  </div>
</section>