<header class="full-height relative v-center" >
  <div class="container">
    <div class="row ">
      <div class="col-xs-12 text-center">
        <p class="welcome">Välkommen!</p>
      </div>
      <div class="col-xs-12">
        <div class="profile_section">
          <div class="profile_image">
            <img src="assets/images/allan.png" />
          </div>
          <div class="profile_detail">
            <p class="profile_name">Test</p>
            <span class="profile_email">test@test.com</span>
            <span class="profile_email">2342512</span>
            <p class="edit_profile"><a style="color: #076a8a;" href="/edit_profile">Profilinställningar</a></p>
          </div>
          <div class="logout">
            <button class="button" (click)="logout()">Logga ut</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>