header{
    background: #076a8a;
}
.welcome{
    color: white;
    font-size: 50px;
}
.profile_section{
    width: 60%;
    margin: auto;
    text-align: center;
    border-radius: 50px;
    background: white;
    box-shadow: 2px 2px 11px 0px #909090;
    border: 1px solid #b9b5b5;
    padding-bottom: 30px;
}
.profile_image{
    margin-bottom: 20px;
}
.profile_name{
    font-weight: bold;
    font-size: 30px;
}
.profile_detail{
    padding-left: 50px;
    text-align: left;
}
.profile_email{
    display: block;
}
.edit_profile{
    margin-top: 10px;
}