<header class="full-height relative v-center" >
  <div class="container text-center" style="color: white;">
    <div class="row ">
      <div class="col-xs-12">
        <p class="welcome">Vi har mejlat dig</p>
      </div>
      <div class="col-xs-12">
        <form [formGroup]="loginForm" (ngSubmit)="forgot(loginForm.value)">
          <div class="form-group">
            <label>Du ska nu ha fått ett mail till </label>
            <input type="text" class="form-control input-lg" name="email" placeholder="Emailadress" formControlName="email"><br>
            <label [hidden]="is_hide">Följ instruktionerna för att återställa ditt lösenord.</label>
          </div>
          <div class="wow fadeInUp" data-wow-delay="0.4s">
              <button type="submit" class="button">Återställ lösenord</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>